#center {
    width: 98%;

}

body {
    background-image: url(../images/black.png);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-position-y: 2040px;
    background-position-x: 10px;
    background-size: cover;
    height: 760px;

}

#emptyl,
#emptyr {
    width: 1%;
}

.fullscreen {
    display: flex;

}

h2 {
    color: white;
}

h3 {
    margin-left: 8%;
}

#line1 {
    background-color: #3A3C56;
    height: 1px;
    margin: 30px 60px;
}

#line2 {
    background-color: #3A3C56;
    height: 2px;
    margin: 30px 60px;
}

#line3 {
    background-color: #3A3C56;
    height: 1px;
    margin: 20px 190px 2px 190px;
}

.topbar {
    background-color: #28323E;
    color: white;
    height: 550px;

}

.topbardetail {
    display: flex;
    justify-content: space-between;
    padding: 1%;
}

#logo {
    max-width: 50px;
}

.contactbutton {
    border: #F6FBF4 solid 1px;
    width: 70px;
    height: 20px;
    text-align: center;
    margin-right: 8%;
}

#cont {
    padding: 0px 10px 10px 10px;
}

.three {
    display: flex;
    justify-content: space-between;
    width: 150px;
    margin-left: 8%;
}

img {
    max-width: 450px;
}

#park {
    max-width: 500px;
}

.secondbar {
    display: flex;
}

.ownname {
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#web {
    font-size: 54px;
    margin-left: 15%;
    margin-bottom: 5%;
    color: #C3C9C3;
}

#name {
    font-size: 60px;
    max-width: 660px;
    display: flex;
    justify-content: center;

}

#student {
    font-size: 22px;
    max-width: 660px;
    display: flex;
    justify-content: center;
}

#intro {

    text-align: center;
    max-width: 500px;
    display: flex;
    justify-content: center;
    margin-top: 7%;
}

p {
    padding: 20px 40px;
    background-color: #B550F8;
    border-radius: 10px;
}



#picbeach {
    min-height: 550px;
}

.story1 {
    font-size: 27px;
}

.story2 {
    font-size: 60px;
    margin-left: 10%;
    color: #EF6D58;
}

.storycontent {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5%;
}

.musiccontent {
    display: flex;
    justify-content: center;
}

.video {
    max-width: 40%;
    margin-bottom: 3%;
}


#song {
    color: #EF6D58;
    font-size: 40px;
}

#songnm {
    font-size: 36px;
    text-align: center;
    padding: 20px 60px;
}

.rowbox {
    display: flex;
    justify-content: center;
    margin-bottom: 8%;
}


.musicbox1,
.musicbox2,
.musicbox3 {

    border: #F3D1BF 1px solid;
    padding: 30px 20% 30px 20px;
}

.musicbox2 {
    background-color: #F3D1BF;
}

.musicname {
    margin-top: 2%;
    margin-left: 6%;
}

.movie {
    color: #EF6D58;
    font-size: 40px;
    margin-left: 5%;
}

.contact {
    color: #EF6D58;
    font-size: 40px;
    text-align: center;
    margin-bottom: 2%;
}

.moviename {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.moviecontent {
    display: flex;
    justify-content: center;
    margin-bottom: 6%;

}

.dinor {
    margin-top: 2%;
    margin-left: 6%;
    font-size: 30px;
    color: white;
}

.secondbottom {
    display: flex;
    justify-content: center;
    margin-bottom: 5%;
}

.secondbottom1 {
    display: flex;
    justify-content: space-between;

}

.textisu {

    margin-bottom: 10px;
}

#email,
#isu {
    padding: 10px 150px 10px 10px;
    background-color: #E6F7F4;
}

#isu {
    padding-bottom: 80px;
}

.forminput {
    background-color: #CDF0EA;
    padding: 62px;
    margin-right: 8%;
    margin-left: 16%;
}

.title4 {
    font-size: 30px;
    color: #EF6D58;
    margin-bottom: 8%;
}

#btn {
    padding: 10px 40px;
    background-color: #E6F7F4;
}

.submitbottom {
    display: flex;
    justify-content: right;
}

.phoneemail {
    margin-right: 20%;
    color: white;
}

.phoneway {
    font-size: 48px;
    margin-bottom: 3%;
}

.secondbottomspace {
    margin-left: 12%;
    margin-right: 15%;

}

#facebook {
    border: #F2D1D1 solid;
    border-radius: 95px;
    background-color: #F2D1D1;
    max-height: 20px;
    width: 27px;
    text-align: center;
}

.title2 {
    font-size: 30px;
    color: #EF6D58;
    margin-bottom: 2%;
}



.bottom {
    display: flex;
    justify-content: space-between;
    margin-left: 7%;
    margin-right: 7%;
    margin-top: 1%;
}

.bottomright {
    display: flex;
    justify-content: space-between;
    min-width: 220px
}

.icon {
    width: 36px;


}

.iconing {
    width: 320px;
    display: flex;

}

@media screen and (max-width:754px) {
    .secondbar {
        display: flex;
        flex-direction: column;
    }



    .topbar {
        background-color: #28323E;
        color: white;
        height: 650px;
    }

    img {
        max-width: 300px;
    }

    .ownname,
    .ownpic {
        width: 100%;
        display: flex;
        justify-content: center;

    }



    .rowbox {
        display: none;
    }

    .moviecontent {

        flex-direction: column;
    }

    #park {
        width: 300px;
    }

    .moviename,
    .dinor {
        display: flex;
        justify-content: center;

    }

    .storycontent {
        display: flex;
        flex-direction: column;
    }

    .story1 {
        order: 2;
    }

    .beachpic {
        order: 1;
    }

    #picbeach {
        max-width: 400px;
        min-height: 0px;
    }

    .story2 {
        text-align: center;
        margin-left: 0%;
    }

    .musiccontent {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .musicname {
        order: 1;
        margin-left: 0%;
    }

    .video {
        order: 2;
    }

    #songnm {
        font-size: 40px;
        text-align: left;

    }

    .secondbottom {
        display: flex;
        flex-direction: column;
    }

    .phoneemail {
        text-align: center;
        margin-right: 0%;
        order: 1;
    }

    .forminput {
        order: 2;
    }

    .iconing {
        width: 100%;
        justify-content: center;
    }

    body {
        background-image: url(../images/black.png);
        background-repeat: no-repeat;
        background-attachment: scroll;
        background-position-y: 2210px;
        background-position-x: 10px;
        background-size: cover;
        height: 1160px;

    }

    #email,
    #isu {
        padding: 10px 57% 10px 10px;
        background-color: #E6F7F4;
    }

    #isu {
        padding-bottom: 60px;
    }
}

@media screen and (max-width:550px) {
    .margin {
        margin-left: 44%;
    }

    #facebook {
        margin-left: 26%;
    }

    .title2 {
        text-align: center;
    }

    #email,
    #isu {
        padding: 10px 34% 10px 10px;
        background-color: #E6F7F4;
    }

    body {

        height: 1100px;

    }

    #line3 {
        display: none;
    }

    .bottomleft {
        text-align: center;
    }

    .bottom {
        display: flex;
        flex-direction: column;
    }
}