#container{
    
    background-color: #7d58a8;
    max-width: 1024px;
    margin:auto;
    padding: 20px;
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.pic{
    max-width: 150px;
    min-width: none;
    width: 80%;
    
}

.pic1{
    
    width: 100%;
    height: 80%;
}


.topnav{
    background-color: antiquewhite;
    text-align: center;
}

.thnav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.frnav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btnav{
    background-color: antiquewhite;
    text-align: center;
}

.column{
    text-align: center;
    width: 20%;
    background-color:  antiquewhite;
   
}

.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 100%;
    margin-left: none;
    margin-top: auto;
}

@-webkit-keyframes slide_animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
    
}

.slide-images{
    width: 3600px;
    height: 100%;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}

.phone{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 20%;
    background-color: pink;
    
}

.story{
    background-color: antiquewhite;
    width: 78%;
    padding-left: 20px;
}

.side{
    
    text-align: center;
    background-color: antiquewhite;
    width: 18%;
}

@media screen and (max-width:600px){
    .thnav{
        display: flex;
        flex-direction: column;
        
    }

    .column{
        width: 100%;
        margin-top: 10px;
    }
}