#container{
    
    background-color: #7d58a8;
    max-width: 1024px;
    margin:auto;
    padding: 20px;
    
}

.header{
    display: flex;
    justify-content: space-between;
}

.pic{
    max-width: 150px;
    min-width: none;
    width: 79%;
    
}


.pic1{
    width: 100%;
}

.topnav{
    background-color: antiquewhite;
    text-align: center;
}

.thnav{
    margin-top: 10px;
    display: flex;
    justify-content: space-between;
    
}

.frnav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btnav{
    background-color: antiquewhite;
    text-align: center;
}

.column{
    text-align: center;
    width: 20%;
    background-color:  antiquewhite;
   
}

.senav{
    
    text-align: center;
}

.phone{
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;
    width: 20%;
    background-color: pink;
    
}

.story{
    background-color: antiquewhite;
    width: 78%;
    padding-left: 20px;
}

.side{
    
    text-align: center;
    background-color: antiquewhite;
    width: 18%;
}

@media screen and (max-width:600px){
    .thnav{
        display: flex;
        flex-direction: column;
        
    }

    .column{
        width: 100%;
        margin-top: 10px;
    }
}