#container{
    
    background-color: #e36bc7;
    max-width: 1024px;
    margin:auto;
    padding: 20px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    
}

.headers{
    
    align-items: flex-end;
    width: 50%;
    
}
.ph{
    display: flex;
    justify-content: space-between;
    width: 100%;
}


.phone{
    
    padding: 2%;
    text-align: center;
    background-color: #f1f582;
    
}

.menu{
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 2%;
    text-align: center;
    background-color: #f1f582;
    
}
.pic{
    max-width: 150px;
    min-width: none;
    width: 79%;
    
}

.pic1{
    width: 87%;
    height: 70%;
}
.slider-frame{
    overflow: hidden;
    height: 600px;
    width: 100%;
    margin-left: none;
    margin-top: auto;
}

@-webkit-keyframes slide_animation{
    0%{left: 0px;}
    10%{left: 0px;}
    20%{left: 1200px;}
    30%{left: 1200px;}
    40%{left: 2400px;}
    50%{left: 2400px;}
    60%{left: 1200px;}
    70%{left: 1200px;}
    80%{left: 0px;}
    90%{left: 0px;}
    100%{left: 0px;}
    
}

.slide-images{
    width: 3600px;
    height: 100%;
    margin: 0 0 0 -2400px;
    position: relative;
    -webkit-animation-name: slide_animation;
    -webkit-animation-duration: 33s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-play-state: running;
}

.img-container{
    height: 800px;
    width: 1200px;
    position: relative;
    float: left;
}
.frnav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btnav{
    background-color: #f1f582;
    text-align: center;
}

.story{
    background-color: #f1f582;
    width: 78%;
    padding-left: 10px;
}

.side{
    
    text-align: center;
    background-color: #f1f582;
    width: 18%;
}


@media screen and (max-width:600px){
    .frnav{
        display: flex;
        flex-direction: column;
    }

    .column{
        width: 100%;
        
    }

    .side{
        margin-top: 10px;
    }
}