#container{
    
    background-color: #e36bc7;
    max-width: 1024px;
    margin:auto;
    padding: 20px;
    
}
.header{
    display: flex;
    justify-content: space-between;
    
}

.headers{
    width: 50%;
    
}


.phone{
    
    width: fit-content;
    text-align: right;
    background-color: #f1f582;
    
}

.menu{
    
    text-align: center;
    background-color: #f1f582;
    
}
.pic{
    max-width: 150px;
    min-width: none;
    width: 80%;
    
}

.pic1{
    width: 100%;
}

.frnav{
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
}

.btnav{
    background-color: #f1f582;
    text-align: center;
}

.story{
    background-color: #f1f582;
    width: 78%;
    padding-left: 10px;
}

.side{
    
    text-align: center;
    background-color: #f1f582;
    width: 18%;
}


@media screen and (max-width:600px){
    .frnav{
        display: flex;
        flex-direction: column;
    }

    .column{
        width: 100%;
        
    }

    .side{
        margin-top: 10px;
    }
}