#container{
    
    background-color: powderblue;
    max-width: 1024px;
    margin:auto;
    padding: 20px;
    
}

.header{
    background-color: yellow;
    text-align: center;
}

.nav{
    
    display: flex;
    justify-content: space-between;
}

.menu{
    background-color: blueviolet;
    text-align: center;
    width: 40%;
    padding-top: 5%;
    padding-bottom: 5%;
}



.right{
    
    justify-content: space-between;
    width: 100%;
}

.row{
    
    display: flex;
    justify-content: space-between;
    text-align: center;
    
}

.w1, .w2{
    background-color: aquamarine;
    width: 45%;
}

.btm{
    margin-top: 19px;
    display: flex;
    justify-content: right;
}

.foot{
    width: 100%;
    background-color: blue;
    text-align: center;
    padding-top: 5%;
    padding-bottom: 5%;
}

.righthand{
    
    width: 55%;
}



@media screen and (max-width:600px){
    .righthand{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .row{
        display: flex;
        flex-direction: column;
    }
    .w1, .w2{
        margin-top: 20px;
        width: 100%;
    }
    
    .menu{
        width: 100%;
    }
    .nav{
        display: flex;
        flex-direction: column;
    }
    .btm{
        display: flex;
        flex-direction: column;
    }
}

@media screen and (min-width:600px){
    .right{
    
        width: 100%;
    }
    .row{
        
        display: flex;
        flex-wrap: wrap;
        text-align: center;
        
    }
    
    .w1, .w2{
        
        background-color: aquamarine;
        width: 100%;
    }

    .w2{
        margin-top: 15px;
    }

    
} 

@media screen and (min-width:1024px){
    .nav{
    
        display: flex;
        justify-content: space-between;
    }

    .right{
    
        justify-content: space-between;
        width: 100%;
    }
    
    .row{
        flex-wrap: none;
        display: flex;
        justify-content: space-between;
        text-align: center;
        
    }
    
    .w1, .w2{
        margin-top: 0%;
        background-color: aquamarine;
        width: 45%;
    }
    
}
    

    


